workflows/AI Agent For Github.json
{
  "name": "AI Agent For Github",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "21ce2f08-255b-49e7-8a28-c7755593e574",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1152,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "af656ce7-169b-4c91-a770-8c488f68911a",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1232,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful technical assistant designed to answer developer questions based on the project’s source code and technical documentation. \n\nWhen a developer asks a question, use the tool `project_source_tool` to retrieve relevant information from the available codebase and documentation."
        }
      },
      "id": "6493e13d-3e1e-42c0-abef-290a2a236868",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        400,
        736
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "project_source_tool",
        "description": "Retrieve information from any source code",
        "topK": "=5"
      },
      "id": "2f05cc89-7dcf-40bc-a5c2-fd2c5c7cc57c",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        608,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0edbd03e-e2fa-41b2-9fdb-c935dd44148d",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        480,
        960
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "38b9511b-c5bf-47be-abe1-3d6b156e2b50",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        128,
        736
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Setup Guilde\n\n### 1. Update the `Config` Node\nAdd or edit the following parameters:\n- `repo_owner`\n- `repo_name`\n- `repo_path`\n- `sub_path`\n\n### 2. Add GitHub Account\nConnect your GitHub account to enable repository access.\n\n### 3. Trigger “Sync Data”\nRun the workflow or trigger the node to start syncing data from GitHub to your vectorstore.\n",
        "height": 560,
        "width": 340
      },
      "id": "eda1081e-97b8-441e-b726-ea6a0dec9141",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03f51f9c-4681-4423-91d2-d32f4c18d6bc",
              "name": "repo_owner",
              "type": "string",
              "value": "cphuong20202009"
            },
            {
              "id": "0c9b521a-b698-4b43-9eb0-bbf744760158",
              "name": "repo_name",
              "type": "string",
              "value": "share-n8n-workflow"
            },
            {
              "id": "91627e70-a71a-4be0-a6f6-b04d5c8469d8",
              "name": "repo_path",
              "type": "string",
              "value": "share-n8n-workflow"
            },
            {
              "id": "983a2c87-9d69-4d64-ab88-ec1b1117c6e6",
              "name": "sub_path",
              "type": "string",
              "value": "workflows"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "073d715d-1432-40b8-ba62-63b586ff3900",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        352,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.sub_path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        576,
        -16
      ],
      "id": "24767c37-190a-4039-84c3-23207299eecc",
      "name": "List files",
      "webhookId": "1ff4096c-91c9-4500-9fda-2d3ef1586d2f",
      "credentials": {
        "githubApi": {
          "id": "tk70N65ddQrYqN4t",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "97c7184a-685b-4940-b3af-6de8bbf9c7dd",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        800,
        -16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        208
      ],
      "id": "c98cb6aa-e460-4c97-ba1d-d9fd9da561d3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2TBvwobWbbHlIjKT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        1376
      ],
      "id": "e6eba4d9-4770-46e7-af58-233763b12bcc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "2TBvwobWbbHlIjKT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        1168
      ],
      "id": "06cc6964-01bc-496f-895f-c3277c3cb10e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2TBvwobWbbHlIjKT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        960
      ],
      "id": "e4d2d5e8-318d-4a63-9777-76225842fd88",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2TBvwobWbbHlIjKT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "value": "source-code",
          "mode": "list",
          "cachedResultName": "source-code"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        496,
        1168
      ],
      "id": "b5c0e689-aaa1-4d69-993e-7bb6b04937db",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "source-code",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1056,
        -16
      ],
      "id": "a41eac9f-9556-48dd-abf3-511a2b430c67",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "content": "Pull your source files and update the knowledge base (vectorstore) for the AI Agent",
        "height": 80,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -128
      ],
      "typeVersion": 1,
      "id": "fb9ecc78-60b5-4eb0-912b-654bf3dbc5ca",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ask questions to the AI Agent — it will respond using your repository knowledge.",
        "height": 80,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        640
      ],
      "typeVersion": 1,
      "id": "ccea3fc1-94e3-4582-bfb5-ef4cc2546a61",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -16
      ],
      "id": "c14b04e5-7f2c-42c3-ac89-f5a256ee2ead",
      "name": "Sync Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Sync Data": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a88fedb-ad7d-4258-ac59-afb17408e6c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0e41110bf9f611e96e18e0663d80d746aeedc58368940bfe471a8d577a5069b"
  },
  "id": "HJdHRULAa3bhcCMR",
  "tags": []
}